In [1]:
# import pandas library
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_excel("pensioners salaries.xlsx")

In [3]:
dataset

        السلم الوظيفي     ذكر    انثى  الإجمالي 2020-06  التوزيع النسبي
0                أخرى   28824     107             28931             3.0
1  أعضاء هيئة التدريس    6303    1402              7705             0.8
2             الأفراد  482658     709            483367            49.6
3              الضباط   35814       0             35814             3.7
4          المستخدمين  105983   11631            117614            12.1
5  الموظفين العموميين  118346   10523            128869            13.2
6   الوظائف التعليمية   73575   86814            160389            16.5
7      الوظائف الصحية    7794    4016             11810             1.2
8            الإجمالي  859297  115202            974499           100.0

In [4]:
# import pandas library
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv("pensioners salaries.csv.csv")

In [5]:
dataset

        السلم الوظيفي     ذكر    انثى  الإجمالي 2020-06  التوزيع النسبي
0                أخرى   28824     107             28931             3.0
1  أعضاء هيئة التدريس    6303    1402              7705             0.8
2             الأفراد  482658     709            483367            49.6
3              الضباط   35814       0             35814             3.7
4          المستخدمين  105983   11631            117614            12.1
5  الموظفين العموميين  118346   10523            128869            13.2
6   الوظائف التعليمية   73575   86814            160389            16.5
7      الوظائف الصحية    7794    4016             11810             1.2
8            الإجمالي  859297  115202            974499           100.0

In [6]:
# import pandas library
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_json("pensioners salaries.json.json")

In [7]:
dataset

        السلم الوظيفي     ذكر    انثى  الإجمالي 2020-06  التوزيع النسبي
0                أخرى   28824     107             28931             3.0
1  أعضاء هيئة التدريس    6303    1402              7705             0.8
2             الأفراد  482658     709            483367            49.6
3              الضباط   35814       0             35814             3.7
4          المستخدمين  105983   11631            117614            12.1
5  الموظفين العموميين  118346   10523            128869            13.2
6   الوظائف التعليمية   73575   86814            160389            16.5
7      الوظائف الصحية    7794    4016             11810             1.2
8            الإجمالي  859297  115202            974499           100.0